.logo{
    display: block;
    margin: auto;
    width: 40px;
}

#logo-name {
    text-align: center;
    color: rgb(5, 197, 5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin-top: 5px;
}

.container{
    background-color: white;
    max-width: 700px;
    margin: auto;
    height: 60vh;
    border: 1px solid black;
    overflow-y: auto;
    margin-bottom: 8px;
}

.msg {
    background-color: rgb(180, 180, 180);
    width: 20%;
    padding: 8px;
    margin: 17px 3px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

body {
    height: 100vh;
    background: linear-gradient(white, rgb(42, 255, 42));
}

#send-container{
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 980px;
}

.btn {
    cursor: "pointer";
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#messageInput {
    width: 636px;
    height: 30px;
}